

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.form-control{
    width: 170px;
}

a.currency {
    text-decoration: none;
}
.currency.selected {
    font-weight: bold;
    font-size: 150%;
}














